{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'igreja_meg/style.css'%}">
    
    <title>IGREJA MEG</title>
</head>
<body>

    <nav>
       <ul> <img class="logo" src="{% url '/media/igreja_meg/OOOOOOIIIIIIIIIIII (1).png' %}" alt=""> </ul>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"> Quem Somos</a></li>
            <li><a href="#"> PROJECTS</a></li>
            <li><a href="#"> CONTACT</a></li>
        </ul>
    </nav>
    <main class="principal">
<h1 class="titulo">BEM-VINDO
    <br> A IGREJA MEG
</h1>
<h5 class="tex">CONECTAR CRISTO, DE UMA GERAÇÃO À OUTRA. </h5>
<button class="button">
    <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">Download Now</span>
    </span>
</button>
    
    
</main>
<main class="texsobre">
    <img src="me3.jpg" >
 <h1>fdgfg</h1>
 <h2>bfhbbhbhbhbh</h2>
 <button class="button">
    <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">Download Now</span>
    </span>
</button>
</main>

</body>
</html>