@import url('https://fonts.googleapis.com/css2?family= família= Fredoka+Um & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #000000da ;
    align-items: center;
    justify-content: space-around ;
    padding: 0 50px 0 10vh;
    flex-wrap: wrap;

   
 }
nav ul  {
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
    
}
nav ul li{
    
    margin: 0 20px;
    margin-top: -14%;
    
}

nav ul li a:hover{
    background-color: rgb(15, 1, 41);

}
nav ul li a{
    
    
    text-decoration: none;
    font-family: 'Fredoka One';
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 30;
    padding: 8px 15px;
    border-radius: 1px;
    letter-spacing: 1px;
    transition: all 0,3s ease;
    
    }
    nav ul li a:hover{
     color: #070725;
    }
    .bi bi-circle-fill{
    color: #ff0000;
    }
    .logo{
     width: 30%;
     height: 17%;
     margin-left: -16%;
     margin-top: -4%;
    }
    .logo1{
        color: rgb(255, 255, 255);
        font-size: 210%;
        font-family: 'Fredoka One';
        margin-left: 5%;
        cursor: default;
    }
    .logo2{
        color: red;
        text-decoration: none;
        font-family: 'Fredoka One';
    }

    .principal{
        
        width: 100%;
        height: 90vh;
        background: linear-gradient(to top , rgba(4, 1, 20, 0.4)50%, rgba(4, 1, 20, 0.4)50%), url({% url '/media/igreja_meg/meg2.jpg' %}) ;
       
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}
svg{
    color: #ff0000;
    margin-left:950%;
    margin-top: 70%;
    margin-bottom: 50%;
}
.titulo{
    color: #ffffff;
    margin-left: 10%;
    font-size: 450%;
    margin-bottom: 16%;  
    font-family: 'Fredoka One';  
    cursor: default;
}
.tex{
    color:floralwhite;
    font-family: 'Fredoka One';
    font-family: 'Open Sans', sans-serif;
    margin-left: -38%;
    cursor: default;
    font-size: 150%;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #000000da;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    top: 15%;
    left: -35%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #000000da;
    background-color: #ffffffda;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #000000da;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color:#000000da;
  }
  
  .texsobre{
    width: 100%;
    height: 60vh;
    
        background-color: #000000da;
       
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

